.grandpa-container div{
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 0 20px;
    margin-left: 10px;
}

.grandpa-container{
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 10px 20px;
    width: fit-content;


    
}

.flex{
    display: flex;
    margin-bottom: 20px;
}



